<div>
  <!DOCTYPE html>
  <html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Home - Brand</title>
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
      <link rel="stylesheet" href="https://fonts.googleapips.com/css?family=Lora:400,700,400italic,700italic">
      <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" id="mainNav">
          <div class="container"><a class="navbar-brand" href="/">Brand</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="about">About us</a></li>
                      <li class="nav-item"><a class="nav-link" href="contact">Contact us</a></li>
                      <li class="nav-item"><a class="nav-link" href="compose">New Post</a></li>
                      <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                      <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
                  </ul>
              </div>
          </div>
      </nav>


<br><br><br><br>
<div class="container" style=" padding-bottom:10px">
  <h1 style="font-weight:bold">Compose</h1>
  <form class="" action="/compose" method="post">
    <div class="form-group">
      <label style="font-weight:bold">Title</label>
      <input class="form-control" type="text" name="pt">
      <label style="font-weight:bold">Sub Title</label>
      <input class="form-control" type="text" name="ps">
      <label style="font-weight:bold">Post</label>
      <textarea class="form-control" name="pb" rows="5" cols="30"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>

</div>
<br><br><br><br>
</div>
